::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0pt;
    padding: 0pt;
    color: #cfcfcf;
    background-color: #000000;
}

.row {
    margin: 10pt 0pt;
}

.title {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 12pt;
    font-weight: 700;
}

.images {
    display: flex;
    overflow-x: auto;
    height: 200pt;
    margin: 3pt 0pt;
}

.image {
    margin: 0pt 1pt;
    border: 1pt solid #6d6d6e;
    border-radius: 5pt;
}

.tag_groups {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.tag_group {
    display: flex;
    margin: 0pt 5pt;
}

.tag_group_name {
    margin: 0pt 2pt;
}

.tag {
    white-space: nowrap;
    background-color: #676767;
    border-radius: 3pt;
    color: #fff;
    margin: 0pt 1pt;
}
